@CHARSET "UTF-8";

.box1{
    background-color:#228B22;
    height:150px;
    width:275px;
    display:inline-block;
    margin:auto;
    overflow:hidden;
}

.box2{
   background-color:blue;
    height:150px;
    width:275px; 
    display:inline-block;
    position:relative;
   
}

.word{
    color: aliceblue;
    text-align:center;
    transform: translateY(50%);
    font-size: 30px;


}

